// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

// Spacing
$xs = 0.75rem
$sm = 1.25rem
$md = 1.75rem
$lg = 2rem
$xl = 3rem

.text-unstyled
	text-decoration: none

.cb-container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

@media (min-width: 576px)
	.cb-container
		max-width: 540px

@media (min-width: 768px)
	.cb-container
		max-width: 720px

@media (min-width: 992px)
	.cb-container
		max-width: 960px

@media (min-width: 1200px)
	.cb-container
		max-width: 1140px

div.markdown
	font-size: 1.1rem
	hr
		margin: $md 0 $sm
	ul
		margin-left: $sm
	p, ul
		margin-bottom: $xs
